body {
    background: url('assets/pexels-felix-mittermeier-956981.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

#open-btn {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 350px;
    height: 80px;
    border-radius: 10px;
    border: solid 2px #ddd;
    cursor: pointer;
    background: transparent;
    color: #fff;
    transition: .5s;
}

#modal {
    background-color: #fff;
    width: 250px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    animation-name: animatemodal;
    animation-duration: .4s;
    padding: 20px;
}

#close-btn {
    font-size: 3rem;
    cursor: pointer;
    color: #ff0000;
}

#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

@keyframes animatemodal {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}